[Desktop Entry]
Name=RustDesk-DirectIP-RemoteSupport
NoDisplay=true
MimeType=x-scheme-handler/rustdesk-directip-remotesupport;
TryExec=rustdesk
Exec=rustdesk %u
Icon=rustdesk-direct-ip-remote-support
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=rustdesk
